esphome:
  name: ha-camera
  friendly_name: Camera

  on_boot:
    - priority: -100
      then:
        - if:
            condition:
              lambda: 'return !id(camera1).is_failed();'
            then:
              - rtttl.play: 'Beep:d=8,o=5,b=600:c'

esp32:
  board: esp32s3_120_16_8-qio_opi
  framework:
    type: esp-idf
    version: 5.4.2

psram:
  mode: octal
  speed: 80MHz

# Enable logging
logger:
  level: INFO

# Enable Home Assistant API
api:
  encryption:
    key: "qHBspV+EKzolBYTSvStuTl1OXMxRRjPNOThyQ1PidOE="

ota:
  - platform: esphome
    password: "808dcebf08e6d249d866926211e79874"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Ai-28-S3-Camera Fallback Hotspot"
    password: "4xxhmzsUWdmp"

captive_portal:

web_server:
  port: 80
    
i2c:
  - id: i2c_bus
    sda: GPIO38
    scl: GPIO39
    # frequency: 100kHz


# esp32_camera:
#   name: Camera
#   external_clock:
#     pin: GPIO9
#     frequency: 20MHz
#   i2c_id: i2c_bus
#   data_pins: [GPIO7, GPIO5, GPIO4, GPIO6, GPIO16, GPIO8, GPIO3, GPIO46]
#   vsync_pin: GPIO11
#   href_pin: GPIO10
#   pixel_clock_pin: GPIO17
#   reset_pin: GPIO18
#   resolution: 640x480
#   frame_buffer_count: 2
#   max_framerate: 30 fps
#   jpeg_quality: 10


###############################################################################
#                                     sensor                                        #
###############################################################################

# aht11
sensor:
  - platform: aht10
    variant: AHT10
    temperature:
      name: "Camera Temperature"
    humidity:
      name: "Camera Humidity"
    update_interval: 5s

output:
  - platform: ledc
    pin: GPIO45
    id: buzzer_out

rtttl:
  id: buzzer1
  output: buzzer_out

light:
  - platform: esp32_rmt_led_strip
    rgb_order: GRB
    pin: GPIO42
    num_leds: 3
    chipset: ws2812
    name: "Camera RGB"

# for ha cameara
esp32_camera:
  name: Camera
  id: camera1
  external_clock:
    pin: GPIO12
    frequency: 20MHz
  i2c_id: i2c_bus
  data_pins: [GPIO15, GPIO17, GPIO8, GPIO16, GPIO46, GPIO10, GPIO11, GPIO13]
  vsync_pin: GPIO21
  href_pin: GPIO14
  pixel_clock_pin: GPIO9
  reset_pin: GPIO41
  resolution: 320x240
  frame_buffer_count: 2
  max_framerate: 30 fps
  jpeg_quality: 10