esphome:
  name: ha-camera
  friendly_name: Camera

  on_boot:
    - priority: -100
      then:
        - if:
            condition:
              lambda: return !id(camera_1).is_failed();
            then:
              - rtttl.play: 'Beep:d=8,o=5,b=600:c'

esp32:
  board: esp32-s3-devkitc-1
  variant: esp32s3
  flash_size: 16MB
  cpu_frequency: 240MHz
  framework:
    type: esp-idf
    sdkconfig_options:
      CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240: "y"
      CONFIG_ESP32S3_DATA_CACHE_64KB: "y"
      CONFIG_ESP32S3_DATA_CACHE_LINE_64B: "y"

psram:
  mode: octal
  speed: 80MHz

# Enable logging
logger:
  level: INFO

# Enable Home Assistant API
api:
  encryption:
    key: "qHBspV+EKzolBYTSvStuTl1OXMxRRjPNOThyQ1PidOE="

ota:
  - platform: esphome
    password: "808dcebf08e6d249d866926211e79874"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "camera Fallback Hotspot"
    password: "4xxhmzsUWdmp"

captive_portal:

web_server:
  port: 80
    
i2c:
  - id: i2c_bus
    sda: GPIO38
    scl: GPIO39
    # frequency: 100kHz


###############################################################################
#                                     sensor                                        #
###############################################################################

# aht11
sensor:
  - platform: aht10
    variant: AHT10
    temperature:
      name: Temperature
    humidity:
      name: Humidity
    update_interval: 5s

output:
  - platform: ledc
    pin: GPIO45
    id: buzzer_out

rtttl:
  id: buzzer1
  output: buzzer_out

light:
  - platform: esp32_rmt_led_strip
    rgb_order: GRB
    pin: GPIO42
    num_leds: 3
    chipset: ws2812
    name: RGB

# for ha cameara
esp32_camera:
  name: Frame
  id: camera_1
  external_clock:
    pin: GPIO12
    frequency: 20MHz
  i2c_id: i2c_bus
  data_pins: [GPIO15, GPIO17, GPIO8, GPIO16, GPIO46, GPIO10, GPIO11, GPIO13]
  vsync_pin: GPIO21
  href_pin: GPIO14
  pixel_clock_pin: GPIO9
  reset_pin: GPIO41
  resolution: 320x240
  frame_buffer_count: 2
  max_framerate: 30 fps
  jpeg_quality: 10
