esphome:
  name: bl0942
  friendly_name: bl0942
  min_version: 2025.11.2 # use 2025.11.2

  # on_boot: 
  #   then:
  #     priority: 600
  #     then:
  #       - light.turn_on: sys_status_led

esp32:
  board: esp32-s3-devkitc-1
  variant: esp32s3
  flash_size: 16MB
  cpu_frequency: 240MHz
  framework:
    type: esp-idf
    sdkconfig_options:
      CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240: "y"
      CONFIG_ESP32S3_DATA_CACHE_64KB: "y"
      CONFIG_ESP32S3_DATA_CACHE_LINE_64B: "y"

psram:
  mode: octal
  speed: 80MHz

# Enable logging
logger:
  level: INFO

# Enable Home Assistant API
api:
  encryption:
    key: "qHBspV+EKzolBYTSvStuTl1OXMxRRjPNOThyQ1PidOE="

ota:
  - platform: esphome
    password: "808dcebf08e6d249d866926211e79874"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  on_connect:
    then:
      - light.turn_off: sys_status_led

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "bl0942 Fallback Hotspot"
    password: "4xxhmzsUWdmp"

captive_portal:

web_server:
  port: 80
    

uart:
  id: uart_bus
  tx_pin: GPIO5
  rx_pin: GPIO4
  baud_rate: 9600
  stop_bits: 1

# external_components:
#   - source: 
#       type: local
#       path: common_components
#     components: [bl0942]
#     refresh: never

external_components:
  - source: 
      type: git
      url: https://github.com/Makerfabs/Home-Assistant-Energy-Meter
      ref: main
      path: config/common_components
    components: [bl0942]

output:
  - platform: ledc
    pin: GPIO7
    id: sys_status_led_out
    inverted: true

switch:
  - platform: gpio
    pin: GPIO16
    name: switch
    id: relay_1
    restore_mode: ALWAYS_ON

light:
  - platform: monochromatic
    output: sys_status_led_out
    internal: true
    id: sys_status_led
    restore_mode: ALWAYS_ON


sensor:
  - platform: bl0942
    line_frequency: 50Hz
    update_interval: 2s
    voltage:
      name: 'Voltage'
    current:
      name: 'Current'
    power:
      name: 'Power'
    energy:
      name: 'Energy'
    frequency:
      name: "Frequency"


