esphome:
  name: bl0942
  friendly_name: bl0942
  min_version: 2025.11.2 # use 2025.11.2

esp32:
  board: esp32-s3-devkitc1-n16r8
  framework:
    type: esp-idf
    version: 5.4.2
    # version: recommended

psram:
  mode: octal
  speed: 80MHz

# Enable logging
logger:
  level: INFO

# Enable Home Assistant API
api:
  encryption:
    key: "qHBspV+EKzolBYTSvStuTl1OXMxRRjPNOThyQ1PidOE="

ota:
  - platform: esphome
    password: "808dcebf08e6d249d866926211e79874"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "bl0942 Fallback Hotspot"
    password: "4xxhmzsUWdmp"

captive_portal:

web_server:
  port: 80
    

uart:
  id: uart_bus
  tx_pin: GPIO5
  rx_pin: GPIO4
  baud_rate: 9600
  stop_bits: 1

# external_components:
#   - source: 
#       type: local
#       path: common_components
#     components: [bl0942]
#     refresh: never

# bl0942:
#   id: my_bl0942
#   uart_id: uart_bus
#   update_interval: 1s


# sensor:
#   - platform: bl0942
#     id: my_bl0942
#     voltage:
#       name: "Voltage"
#     current:
#       name: "Current"
#     power:
#       name: "Active Power"
#     power_factor:
#       name: "Power Factor"


switch:
  - platform: gpio
    pin: GPIO16
    name: "Relay"
    id: relay_1
    restore_mode: ALWAYS_ON


sensor:
  - platform: bl0942
    uart_id: uart_bus
    line_frequency: 50Hz
    update_interval: 1s
    voltage:
      name: 'Voltage'
    current:
      name: 'Current'
    power:
      name: 'Power'
    energy:
      name: 'Energy'
    frequency:
      name: "Frequency"


